<div class="container">  
  <div>
    <% if current_user %>
      <h3><b>Hello <%= current_user.first_name %></b></h3>
    <% end %>
  </div>
  
  <% @events.each do |event| %>
    <div>
  
      <b><%= link_to event.name, event_path(event) %></b>
      <br>
      <i><%= event.description %></i>
      <br>
      <p><%= event.event_date.strftime("%A, %B #{event.event_date.day.ordinalize} %Y @ %l:%M %p") %></p>
    </div>
  <% end %>
</div>