<h1>Events#index</h1>

<% @events.each do |event| %>
  <div>
    <b><%= event.name %></b>
    <br>
    <i><%= event.description %></i>
    <br>
    <p><%= event.event_date %></p>
    <br>
    <p><%= event.event_time %></p>
  </div>
<% end %>